.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card-body {
    padding: 0.5rem 1rem;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-radius: 0.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transition: all 0.3s linear;
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5);
    }
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.card-text {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}